{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "unicorn", "simple-import-sort"],
  "rules": {
    "simple-import-sort/sort": 2,
    "jsx-a11y/anchor-is-valid": 0,
    "unicorn/filename-case": [
      2,
      { "cases": { "camelCase": true, "pascalCase": true } }
    ],
    "unicorn/prevent-abbreviations": 0
  }
}
